body {
  background-color: #fff;
  width: 100%;
  height: 600px;
  margin: 0;

}

a {
  text-decoration: none;

}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #1b1b1b;
  background-color: #1b1b1b;

}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;

}

.teg {
  margin-right: 5%;
  color: #ffa31a;
  font-size: 18pt;

}

.teg:hover {
 transform: scale(1.2);

}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.Signin {
  font-size: 24pt;
  color: #ffa31a;

}

.sub {
  color: #ffa31a;



}
