<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
  {% if title %}
      <title>{{ title }} - UTAPI</title>
      {% else %}
      <title>Welcome to UTAPI</title>
      {% endif %}
</head>
<body>
  <div class="header">
    <div class="links">
      <a href="{{ url_for('index') }}" class="teg">Home</a>
      <a href="{{ url_for('likes') }}" class="teg">Likes</a>
      {% if current_user.is_anonymous %}
      <a href="/login" class="teg">Login</a>
      <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
      {% else %}
      <a href="{{ url_for('logout') }}" class="teg">Logout</a>
      {% endif %}
    </div>
  </div>

    {% block content %}{% endblock %}

</body>
</html>
