{% extends "base.html" %}

{% block content %}
<div class="index">
    <h1 class="main">Searh</h1>
    <form action="/" method="post" novalidate>
        <p>
            {{ form.search.label }}<br>
            {{ form.search(size=32) }}
        </p>
        <p> {{ form.submit() }}</p>
    </form>
  </div>

{% endblock %}
