{% extends "base.html" %}


{% block content %}
<div class="login">
    <h1 class="Signin">Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p class="sub">{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p> {{ form.submit() }}</p>
    </form>
  </div>
{% endblock %}
