{% extends "base.html" %}

{% block content %}
{% for item in items %}
<div class="apicontent">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{item}}" frameborder="0" allowfullscreen></iframe>

  <form action="" method="post" novalidate>
    <p> {{ form.submit() }}</p>
  </form>
</div>
{% endfor %}
{% endblock %}
